<section id="about-me" class="section-container">
    <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
    <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
        Hi, I am Titan Carter, a Serbian Senior Full Stack Engineer with more than 8 years of professional experience in developing
        scalable web applications, eCommerce platforms, and AI-powered solutions. My mission is to deliver clean, efficient, and
        business-focused code that empowers clients to achieve their goals.
        
        I specialize in building end-to-end solutions—from designing responsive user interfaces to developing secure,
        high-performance backends and integrating AI or ERP/CRM systems. Over the years, I have helped startups, SMEs, and
        enterprises bring their digital products to life with cutting-edge technologies and results-driven workflows.
        
        Clients value me for my problem-solving mindset, strong communication skills, and ability to quickly understand business
        requirements. I’m passionate about long-term collaborations where I can contribute not only as a developer but also as a
        strategic technology partner.
    </p>
    <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
        Looking forward to sharpening my skills in a challenging environment. 
        I guarantee enthusiasm in work and fulfilling
        my projects with inexpressible effort.
    </p>
</section>